<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/register.css">
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <!--FONTAWESOME-->
    <script src="https://kit.fontawesome.com/bc10f2bde4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section class="encabezado">
            <figure class="logo"><a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" srcset=""></a></figure>
        <section class="barra">
        <input type="search" class="estilo-barra" aria-label="Ingresá lo que quieras encontrar" name="barra_busqueda" placeholder=" Buscar productos, marcas y más…">
        <button type="submit" class="btn-barra"><i aria-label="Buscar" class="fas fa-search"></i></button>
        </section>
        <h2 class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</h2>
        </section>
    
        
        <div class="burger-menu"><a href="#"><i class="fa fa-bars burger"></a></i></div>

        <nav>
            <ul class="nav-left">
                <li><a href="http://">Ofertas</a></li>
                <li><a href="http://">Tiendas Oficiales</a></li>
                <li><a href="http://">Vender</a></li>
                <li><a href="http://">Ayuda</a></li>
            </ul>

            <ul class="nav-right">
                <li><a href="/register">Crea tu cuenta</a><i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="http://">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>  
    </header>
    <div>
        <figure><img src="/img/img-home-banner.jpg" alt="" srcset="" class="banner-home"></figure>
    </div>
    
    <main>
        <section id="register">
        <form action="" method="POST" id="registro">
            <div>
            <label class="titulo"> Formulario de Registro</label>
            <label for="username">
                <input type="email" id="username" placeholder=" Indique su email" name="username" class="input-field" required>
            </label>
            </div>
            <div>
            <label for="nombre">
                <input type="text" id="nombre" placeholder=" Indique su nombre" name="nombre" class="input-field" minlength="14" maxlength="20" required>
            </label>
            </div>
            <label for="apellido">
                <input type="text" id="apellido" placeholder=" Indique su apellido" name="apellido" class="input-field" minlength="14" maxlength="20" required>
            </label>
            <label for="date" class="titulo"> Fecha de nacimiento</label>
                <input type="date" id="date" name="date" class="input-date" required>
            
            <label for="domicilio">
                <input type="text" id="domicilio" placeholder=" Indique su domicilio" name="domicilio" class="input-field" required>
            </label>
            <label for="" class="titulo"> Perfil de usuario</label>
                <input type="radio" id="" value="comprador" name="perfil"> Comprador 
                <input type="radio" id="" value="vendedor" name="perfil"> Vendedor 
            
            <label for="categorias" class="titulo"> Categorias de interes </label>
                <input type="checkbox" id="categorias" value="electro" name="electro">Electro
                <input type="checkbox" id="categorias" value="moda" name="moda">Moda
                <input type="checkbox" id="categorias" value="hogar" name="hogar">Hogar
                <input type="checkbox" id="categorias" value="jugueteria" name="jugueteria">Jugueteria
                <input type="checkbox" id="categorias" value="vida" name="vida">Vida sana
           
            <label for="foto" class="titulo"> Carga tu foto de perfil</label>
                <input type="file" accept="image/*,.pdf" id="foto" name="foto" required>
            
            <label for="password">
                <input type="password" id="password" placeholder=" Indique su contraseña" name="password" class="input-field" required>
            </label>
            <label for="password">
                <input type="password" id="password" placeholder=" Confirme su contraseña" name="password" class="input-field" required>
            </label>
            <button type="submit" form="registro" value="Submit" class="btn-submit">Registrarme</button>
            <button type="reset" form="registro" value="Reset" class="btn-reset">Borrar</button>





<!--
Input[type=“text] seccionar los inpuestos en el css

            Nombre y apellido
■ Nombre de usuari@
■ Fecha de nacimiento
■ Domicilio
■ Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender)
■ Categorías de interés (puede elegir más de una)
● Electro
● Moda
● Hogar
● Juguetería
● Vida sana
■ Foto de usuario
■ Contraseña
■ Confirmar contraseña
■ Botón de enviar que nos lleve a la página principal
■ Botón de borrar todos los datos del formulario-->
        </form>
        </section> 
    </main>

    <footer>
        <section>
            <i class="fas fa-credit-card icon"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift icon"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield icon"></i> 
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p> 
        </section>
        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>
</html>
